<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:bean="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <beans:bean name="bcryptPasswordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <http>
        <intercept-url pattern="/auth/login" access="isAnonymous()"/>
        <intercept-url pattern="/users" access="isAnonymous()"/>
        <intercept-url pattern="/css/**" access="permitAll()"/>
        <intercept-url pattern="/js/**" access="permitAll()"/>
        <intercept-url pattern="/images/**" access="permitAll()"/>
        <intercept-url pattern="/**" access="isFullyAuthenticated()"/>
        <form-login login-page="/auth/login" default-target-url="/"/>
        <logout />
        <expression-handler ref="defaultWebSecurityExpressionHandler" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="bcryptPasswordEncoder"/>
            <user-service>
                <user name="root" password="$2a$10$mf.PoIoy3rL5rbnMyjrL2.JrybwIV6VRduXcJVg1wUCL89MWlwdd." authorities="ROLE_SUPER_ADMIN" />
            </user-service>
        </authentication-provider>
        <authentication-provider>
            <password-encoder ref="bcryptPasswordEncoder"/>
            <jdbc-user-service
                    data-source-ref="dataSource"
                    users-by-username-query="SELECT username, password, enabled FROM wlogs_users WHERE ? IN (username, email)"
                    authorities-by-username-query="SELECT username, role FROM wlogs_user_roles WHERE username=?"
            />
        </authentication-provider>
    </authentication-manager>

    <!-- Roles hierarchical, see here http://docs.spring.io/spring-security/site/docs/4.0.4.RELEASE/reference/htmlsingle/#authz-hierarchical-roles -->
    <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
        <beans:constructor-arg ref="roleHierarchy" />
    </beans:bean>

    <beans:bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
        <beans:property name="hierarchy">
            <beans:value>
                ROLE_SUPER_ADMIN > ROLE_ADMIN
                ROLE_ADMIN > ROLE_USER
                ROLE_USER > ROLE_GUEST
            </beans:value>
        </beans:property>
    </beans:bean>

    <!-- To enable check role hierarchy in the JSP pages -->
    <beans:bean id="defaultWebSecurityExpressionHandler"
          class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
        <beans:property name="roleHierarchy" ref="roleHierarchy"/>
    </beans:bean>

    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg>
            <beans:list>
                <beans:ref bean="roleVoter" />
                <beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter">
                    <beans:property name="expressionHandler" ref="defaultWebSecurityExpressionHandler"/>
                </beans:bean>
                <beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>
</beans:beans>