body {
    padding: 14px;
    font-family: Calibri;
    font-size: 14px;
}

ul.dropdown li { position: relative; }
ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}

ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
}

ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
}

ul.dropdown a.dropdown-top { background: #d3e2ef; }

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
}
