#nav7, #nav7 ul, #nav7 li {
  margin: 0;
  padding: 0;
}
#nav7, #nav7 ul {
  background: rgb(46,95,122);
}
#nav7 { /* подменю перемещается относительно меню */
  position: relative;
  display: table;
  width: 100%;
}
#nav7 ul { /* подменю находится вне потока */
  position: absolute;
  z-index: 5;
  display: none;
}
#nav7 li:hover ul { /* подменю будет показано, если курсор наведён на пункт меню с выпадающем списком */
  display: block;
}
#nav7 li {
  display: table-cell;
  text-align: center;
}
#nav7 ul li {
  display: block;
  text-align: left;
}
#nav7 .right { /* последнее подменю будет расширяться справа налево */
  direction: rtl;
}
#nav7 .right ul { /* для IE, решение найдено случайно, где связь ??? */
  right: 0;
}
#nav7 .right li { /* последнее подменю будет расширяться справа налево, но не пункты последнего подменю */
  direction: ltr;
}
#nav7 a {
  display: block;
  padding: 3px 0;
  color: #fff;
  text-decoration: none;
}
#nav7 ul a {
  padding: 3px 15px;
}
#nav7 li:hover {
  background: rgb(96,145,172);
}
