button {
    color: gray;
    font-size:14px;
    font-family:Calibri;
}

body {
    background-color: #F5F5F5;
    padding: 0px;
    margin: 0px;
    color: #045757;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    border-bottom: 2px solid #045757;
    margin-bottom: 15px;
    text-align: center;
}

ul.dropdown li { position: relative; }
ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}

ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
}

ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
}